head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title="Secrets Management"
  meta(name="description" content="About secrets management and Hashicorp Vault for management therof")
  meta(name="author" content="mrg@fredhutch.org")
  link(rel="stylesheet", href="css/main.css")
